services:
  ru-counter:
    image: ghcr.io/${GITHUB_REPOSITORY}/${DOCKER_CONTAINER_NAME}:v1.0.0
    container_name: ru-counter-app
    restart: unless-stopped
    environment:
      - DB_PATH=file:/root/db/session.db?_foreign_keys=on
      - NUMBER_NEWSLETTERS=${NUMBER_NEWSLETTERS}
      - NEWSLETTER_JID1=${NEWSLETTER_JID1}
      - NEWSLETTER_NAME1=${NEWSLETTER_NAME1}
      - NEWSLETTER_JID2=${NEWSLETTER_JID2}
      - NEWSLETTER_NAME2=${NEWSLETTER_NAME2}
      - NEWSLETTER_JID3=${NEWSLETTER_JID3}
      - NEWSLETTER_NAME3=${NEWSLETTER_NAME3}
      - NEWSLETTER_JID4=${NEWSLETTER_JID4}
      - NEWSLETTER_NAME4=${NEWSLETTER_NAME4}
    volumes:
      - ./db:/root/db
    networks:
      - ru-counter-network
networks:
  ru-counter-network:
    driver: bridge
