services:
  ru-counter:
    image: ghcr.io/${GITHUB_REPOSITORY}/${DOCKER_CONTAINER_NAME}:latest
    container_name: ru-counter-app
    restart: unless-stopped
    environment:
      - PAT_TOKEN=${PAT_TOKEN}
      - GITHUB_REPOSITORY=${GITHUB_REPOSITORY}
      - NUMBER_NEWSLETTERS=${NUMBER_NEWSLETTERS}
      - NEWSLETTER_JID1=${NEWSLETTER_JID1}
      - NEWSLETTER_NAME1=${NEWSLETTER_NAME1}
      - NEWSLETTER_JID2=${NEWSLETTER_JID2}
      - NEWSLETTER_NAME2=${NEWSLETTER_NAME2}
      - NEWSLETTER_JID3=${NEWSLETTER_JID3}
      - NEWSLETTER_NAME3=${NEWSLETTER_NAME3}
      - NEWSLETTER_JID4=${NEWSLETTER_JID4}
      - NEWSLETTER_NAME4=${NEWSLETTER_NAME4}
      - DB_PATH=file:/root/db/session.db?_foreign_keys=on
    volumes:
      - db-data:/root/db
      - ./.env:/root/.env
    networks:
      - ru-counter-network
volumes:
  db-data:
networks:
  ru-counter-network:
    driver: bridge
